.active {
  font-weight: bold;
  border: 1px solid;
}

.smaller {
  font-size: smaller;
}

body {
  background-color: lightgray;
}

header {
  background-color: violet;
  color: white;
  padding: 10px;
}

#contactList {
  display: flex;
  flex-wrap: wrap;
}

.contact {
  padding: 10px;
  margin: 10px;
  border: 1px solid;
}

.hidden {
  display: none !important;
}

